<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QUAN_LY_KHACH_SANEntities" connectionString="metadata=res://*/ModelQLKS.csdl|res://*/ModelQLKS.ssdl|res://*/ModelQLKS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QUAN_LY_KHACH_SAN;persist security info=True;user id=sa;password=2444;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>